# Dependencies
node_modules/
*/node_modules/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Docker
.docker/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/settings.json
.idea/

# Build outputs
dist/
build/
target/
jpyaml/
chyaml/

# Go
bin/
vendor/

# SSL certificates (generated)
certs/
*.pem
*.crt
*.key

*.zip
cookie_secret
services/go-chariot/cmd/cmd
services/charioteer/charioteer

